


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/form_style.css') }}" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{{ url_for('static', filename='js/form_common.js') }}"></script>
<script type="text/javascript">
    
    function addLine() {
        var detail_section = $('div#detail-section');
        var insertRow = $('#insert_row').clone().removeAttr('id');

        var index = -1;
        $('div.detail-row', detail_section).each(function(i, div){
          if ((val = parseInt($(div).attr('index'))) > index) {
            index = val;
          }
        });
        index++;

        insertRow.attr("index", index);

        indexingItem("date", insertRow);
        indexingItem("note", insertRow);
        indexingItem("follow_up", insertRow);
        detail_section.append(insertRow);
        refInputSetup(insertRow);        
    }

    function indexingItem(name, row) {
        var index = row.attr("index");
        var item_name_prefix = 'items-' + index;
        var item = $('#' + name, row);
        item.attr('id', item_name_prefix + "-" + item.attr('name'));
        item.attr('name', item_name_prefix + "-" + item.attr('name'));
    }


    function deleteRow(obj) {
        var row = $(obj).parent().parent();
        row.remove();
    }
</script>

{% include("/common/common_include.html") %}
{% include("/common/display_errors.html") %}
<br />
<div align="center" class="form-group mx-sm-3 mb-2">
    <form action="/quality_claim/save" method='POST' id="quality_claim_form">
        <div align="left">
            <input type="submit" onclick="submitCheck()" class="btn btn-primary btn-sm" value="SAVE">
        </div>
        <br />
        <br />
        {{ form.hidden_tag() }}
        <div class="input-container">
            <div class="columnlabel">
                {{ form.status.label }}
                <i class="fa fa-info-circle field-info" description='Open or closed?''></i>
            </div>
            <div class="columninput uneditable">
                {{ form.status() }}
            </div>
            <div class="columnlabel">
                {{ form.customer.label }}
                <i class="fa fa-info-circle field-info" description="Customer's name."></i>
            </div>
            <div class="columninput">
                {{ form.customer() }}
            </div>
        </div>
        <div class="input-container">
            <div class="columnlabel">
                {{ form.report_date.label }}
                <i class="fa fa-info-circle field-info" description="Reported dated by customer."></i>
            </div>
            <div class="columninput">
                {{ form.report_date() }}
            </div>
            <div class="columnlabel">
                {{ form.application.label }}
                <i class="fa fa-info-circle field-info" description="Customer's application."></i>
            </div>
            <div class="columninput">
                {{ form.application() }}
            </div>
        </div>
        <div class="input-container">
            <div class="columnlabel">
                {{ form.model.label }}
                <i class="fa fa-info-circle field-info" description='Product model name.'></i>
            </div>
            <div class="columninput">
                {{ form.model() }}
            </div>
            <div class="columnlabel">
                {{ form.type.label }}
                <i class="fa fa-info-circle field-info" description="e.g. 'Rotary', 'Scroll'"></i>
            </div>
            <div class="columninput">
                {{ form.type() }}
            </div>
        </div>
        <div class="input-container">
            <div class="columnlabel">
                {{ form.issue.label }}
                <i class="fa fa-info-circle field-info" description='claim details'></i>
            </div>
            <div class="columninput">
                {{ form.issue() }}
            </div>
            <div class="columnlabel">
                {{ form.corrective_action.label }}
                <i class="fa fa-info-circle field-info" description='corrective action taken.'></i>
            </div>

            <div class="columninput">
                {{ form.corrective_action() }}  
            </div>
        </div>

        <div class="input-container">

            <div class="columnlabel">
                {{ form.closed_date.label }}
                <i class="fa fa-info-circle field-info" description='claim completed date'></i>
            </div>
            <div class="columninput">
                {{ form.closed_date() }}
            </div>
            <div class="columnlabel">

            </div>
            <div class="columninput">
            </div>

        </div>

        <hr>

        <div align="center">
            <input type="button" class="btn btn-primary btn-sm" onclick="addLine()" value="ADD ITEM" />
        </div>
        <br />
        <div class="detail-section" id="detail-section">
            <div class="detail-header">
                <div class="detail-column width1" style="width: 60px;">
                </div>
                <div class="detail-column width1">
                    {{ item_form_template.date.label }}
                    <i class="fa fa-info-circle field-info" description="Date of communication."></i>
                </div>
                <div class="detail-column width1">
                    {{ item_form_template.follow_up.label }}
                    <i class="fa fa-info-circle field-info" description="Date to follow up."></i>
                </div>
                <div class="detail-column width3">
                    {{ item_form_template.note.label }}
                    <i class="fa fa-info-circle field-info" description="Communications."></i>
                </div>
            </div>
            {% for item_form in form.items %}
            <div class="detail-row" index="{{loop.index0}}">
                <div class="detail-column width1">
                    {{ item_form.hidden_tag() }}
                    <a href="javascript:" onclick="deleteRow(this)"><i class="fa fa-minus-square-o"></i></a>
                </div>
                <div class="detail-column width1">
                    {{ item_form.date() }}
                </div>
                <div class="detail-column width1">
                    {{ item_form.follow_up() }}
                </div>
                <div class="detail-column width3">
                    {{ item_form.note() }}
                </div>

            </div>
            {% endfor %}
        </div>
        <hr>

        <br />
        <div align="center">

            <input type="submit" onclick="submitCheck()" class="btn btn-primary btn-sm" value="SAVE">
        </div>

        <br />
        <br />
        <br />
        <br />
    </form>

    <div style="display: none;">
        <div class="detail-row" id="insert_row" index="">
            <div class="detail-column width1">
                <a href="javascript:" onclick="deleteRow(this)"><i class="fa fa-minus-square-o"></i></a>
            </div>
            <div class="detail-column width1">
                {{ item_form_template.date() }}
            </div>

            <div class="detail-column width1">
                {{ item_form_template.follow_up() }}
            </div>

            <div class="detail-column width3">
                {{ item_form_template.note() }}
            </div>

        </div>
    </div>
</div>

    <ul>
    </ul>
</div>