{% extends "base.html" %} {% block title %}Quote Request{% endblock %} 

{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/form_style.css') }}" />
<script type="text/javascript">
    function deleteData() {
        if(confirm("Are you sure to delete?")) {
            var $form = $('<form/>', {
                    action: '/quote_request/delete',
                    method: 'POST'
                });
            $('<input>').attr({
                type: 'hidden',
                name: 'delete_id',
                value: '{{ form.id.data }}'
            }).appendTo($form);

            $form.appendTo('body').submit();
        }
    }
    function createWithReference() {
        location.href = '/quote_request/create?refer={{ form.id.data }}';
    }
</script>

<br/> 
<h2 align="center">Quote display</h2>
<br />
<div class="form-group mx-sm-3 mb-2">
    <div align="left">
        <input type="button" class="btn btn-primary btn-sm" value="MODIFY" onclick="location.href='/quote_request/modify/{{ form.id.data }}'">
        <input type="button" class="btn btn-primary btn-sm" value="CREATE WITH REFERENCE" onclick="createWithReference()">
        <input type="button" class="btn btn-primary btn-sm" value="DELETE" onclick="deleteData()">
    </div>
</div>
<br />
<div class="form-group mx-sm-3 mb-2">

    <div class="input-container">
        <div class="columnlabel">
            {{ form.requester.label }}

        </div>
        <div class="columninput uneditable">
            {{ form.requester.data }}
        </div>
        <div class="columnlabel">
            {{ form.customer.label }}
        </div>
        <div class="columninput">
            {{ form.customer.data }}
        </div>
    </div>
    <div class="input-container">
        <div class="columnlabel">
            {{ form.status.label }}
        </div>
        <div class="columninput">
            {{ form.status.data }}
        </div>
        <div class="columnlabel">
            {{ form.location.label }}
        </div>
        <div class="columninput">
            {{ form.location.data }}
        </div>
    </div>
    <div class="input-container">
        <div class="columnlabel">
            {{ form.type.label }}
        </div>
        <div class="columninput">
            {{ form.type.data }}
        </div>
        <div class="columnlabel">
            {{ form.application.label }}
        </div>
        <div class="columninput">
            {{ form.application.data }}
        </div>
    </div>

    <div class="input-container">
        <div class="columnlabel">
            {{ form.terms.label }}
        </div>
        <div class="columninput">
            {{ form.terms.data }}
        </div>
        <div class="columnlabel">
            {{ form.remark.label }}
        </div>
        <div class="columninput">
            {{ form.remark.data }}
        </div>
    </div>

    <!-- <div class="input-container">
        <div class="columnlabel">
            {{ form.created_date.label }}
        </div>
        <div class="columninput">
            {{ form.created_date.data }}
        </div>
        <div class="columnlabel">
            {{ form.updated_date.label }}
        </div>
        <div class="columninput">
            {{ form.updated_date.data }}
        </div>
    </div> -->
   
    <hr>

        {% if form.items %}
            {# UPDATED LINE BELOW #}
            {% for item_form in form.items  %}
                <div class="detail-row">
                    <div class="detail-column width1">
                        {{ item_form.material.data }}
                    </div>
                    <div class="detail-column width1">
                        {{ item_form.vendor.data }}
                    </div>
                    <div class="detail-column width1">
                        {{ item_form.incoterm.data }}
                    </div>

                    <div class="detail-column width1">
                        {{ item_form.incoterm_location.data }}
                    </div>

                    <div class="detail-column width1">
                        {{ item_form.target_price.data }}
                    </div>

                    <div class="detail-column width3">
                        {{ item_form.note.data }}
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>No items to display.</p>
        {% endif %}

    </div>

    <hr>

</div>
{% endblock %}