{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}

<br/>
<!-- Form to request verification code -->
<form method="POST" action="{{ url_for('auth.request_verification_code') }}">
  <h3 align="center">Forgot Password</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter your email"
    />
  </div>
  <button type="submit" class="btn btn-primary">Request Verification Code</button>
</form>
<br/>
<!-- End of verification code request form -->

<!-- Form to change password -->
<form method="POST">
  <h3 align="center">Change Password</h3>
  <!-- Add input for user's email -->
  <div class="form-group">
    <label for="change_password_email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="change_password_email"
      name="email"
      placeholder="Enter your email"
    />
  </div>
  <!-- End of email input -->

  <!-- Add input for verification code -->
  <div class="form-group">
    <label for="verification_code">Verification Code</label>
    <input
      type="text"
      class="form-control"
      id="verification_code"
      name="verification_code"
      placeholder="Enter verification code"
    />
  </div>
  <!-- End of verification code input -->

  <!-- Keep the rest of the form as it is -->
  <div class="form-group">
    <label for="new_password">New Password</label>
    <input
      type="password"
      class="form-control"
      id="new_password"
      name="new_password"
      placeholder="Enter new password"
    />
  </div>
  <div class="form-group">
    <label for="confirm_password">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirm_password"
      name="confirm_password"
      placeholder="Confirm new password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}